<!DOCTYPE html>
<html>
  <head>
    <title>Businesses</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <style>
      body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #777;
      }

      input, button {
        position: relative;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
      }
      .button {
          color:gray;
          border-radius: 12px;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
      }
      .button:hover {
          background-color: gray;
          color: white;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="w3-top">
      <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
        </a>
        <a href="<%= '/welcome/'+id+'/'+userName %>" class="w3-bar-item w3-button"><i class="fa fa-user-o"></i> PROFILE</a>
        <a href="/contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> LOG OUT</a>

      
      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a href="/contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        <a href="/logout" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGOUT</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <h2 style="text-align:center" class="form-signin-heading">
        These are the <%= ['vegetarian', 'vegan', 'kosher'].indexOf(businessType) != -1 ? businessType : '' %> businesses located in <%= city %> </br></br></br>
        Filter by:
        <a style="font-size:70%" href="<%= '/business/' + personName + '/' + city + '/vegetarian' %>" class="w3-bar-item w3-button"><i class="fa fa-shopping-basket"></i> Vegetarian</a>
        <a style="font-size:70%" href="<%= '/business/' + personName + '/' + city + '/vegan' %>" class="w3-bar-item w3-button"><i class="fa fa-shopping-basket"></i> Vegan</a>
        <a style="font-size:70%" href="<%= '/business/' + personName + '/' + city + '/kosher' %>" class="w3-bar-item w3-button"><i class="fa fa-shopping-basket"></i> Kosher</a>
        <a style="font-size:70%" class="w3-bar-item w3-button"><i class="fa fa-clock-o"></i> Operating Hours</a>
      </h2>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>
              Name
              <a href="#" onClick="return sortTable('name', 'ASC');"><i class="fa fa-chevron-down"></i></a>
              <a href="#" onClick="return sortTable('name', 'DESC');"><i class="fa fa-chevron-up"></i></a>
            </th>
            <th>Address</th>
            <th>
              Rating
              <a href="#" onClick="return sortTable('rating', 'ASC');"><i class="fa fa-chevron-down"></i></a>
              <a href="#" onClick="return sortTable('rating', 'DESC');"><i class="fa fa-chevron-up"></i></a>
            </th>
            <th>
              Review Count
              <a href="#" onClick="return sortTable('review_count', 'ASC');"><i class="fa fa-chevron-down"></i></a>
              <a href="#" onClick="return sortTable('review_count', 'DESC');"><i class="fa fa-chevron-up"></i></a>
            </th>
          </tr>
        </thead>

        <tbody id="businesses">
          <% if (businesses.length == 0) { %>
            <tr>
              <td colspan="4">
                There are no matching businesses.
              </td>
            </tr>
          <% } else { %>
            <% for(var i = 0; i < businesses.length; i++) { %>
              <tr>
                <td><%= businesses[i][0] %></td>
                <td><%= businesses[i][1] %></td>
                <td><%= businesses[i][2] %></td>
                <td><%= businesses[i][3] %></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
      </br>
    </div> <!-- /container -->

    <script>
      function sortTable(col, order) {
        $.ajax('/business/<%= personName %>/<%= city %>/<%= businessType %>/sort/' + col + '/' + order).done(function(data) {
          businesses = data['businesses'];
          var text = '';
          if (businesses.length == 0) {
            text += "<tr><td colspan='4'>There are no matching businesses.<\/td><\/tr>";
          } else {
            for (var i = 0; i < businesses.length; i++) {
              text += '<tr><td>' + businesses[i][0] + '<\/td><td>' + businesses[i][1] + '<\/td><td>' + businesses[i][2] + '<\/td><td>' + businesses[i][3] + '<\/td><\/tr>';
            }
          }
          $('#businesses').html(text);
        });
        return false;
      }

      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }

      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
          var navbar = document.getElementById("myNavbar");
          if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
              navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
          } else {
              navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
          }
      }

      // Used to toggle the menu on small screens when clicking on the menu button
      function toggleFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace(" w3-show", "");
          }
      }
    </script>
  </body>
</html>
