<!DOCTYPE html>
<html>
  <head>
    <title>Businesses</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <style>
      body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #777;
      }

      .button {
          color:gray;
          border-radius: 12px;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
      }
      .button:hover {
          background-color: gray;
          color: white;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="w3-top">
      <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
        </a>
        <a href="<%= '/welcome/'+id+'/'+userName %>" class="w3-bar-item w3-button"><i class="fa fa-user-o"></i> PROFILE</a>
        <a href="/contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> LOG OUT</a>
      
      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a href="/contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        <a href="/logout" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGOUT</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <h2 style="text-align:center" class="form-signin-heading">
        These are the <%= ['vegetarian', 'vegan', 'kosher'].indexOf(businessType) != -1 ? businessType : '' %> businesses located in <%= city %> </br></br></br>
        Filter by:
        <a style="font-size:70%" href="<%= '/businesses/city/' + city + '/all' %>" class="w3-bar-item w3-button"><i class="fa fa-shopping-basket"></i> All</a>
        <a style="font-size:70%" href="<%= '/businesses/city/' + city + '/vegetarian' %>" class="w3-bar-item w3-button"><i class="fa fa-shopping-basket"></i> Vegetarian</a>
        <a style="font-size:70%" href="<%= '/businesses/city/' + city + '/vegan' %>" class="w3-bar-item w3-button"><i class="fa fa-shopping-basket"></i> Vegan</a>
        <a style="font-size:70%" href="<%= '/businesses/city/' + city + '/kosher' %>" class="w3-bar-item w3-button"><i class="fa fa-shopping-basket"></i> Kosher</a>
         <a style="font-size:70%" href="" class="w3-bar-item w3-button" data-toggle="modal" data-target="#hoursModal"><i class="fa fa-clock-o"></i> Operating Hours &emsp;</a>
      </h2>
          <div class="modal fade" id="hoursModal" tabindex="-1" role="dialog" aria-labelledby="hoursModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="hoursModalLabel">Choose times</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form method = "post">
    </div> <!-- /container -->
    <!-- /start -->
    
    <div style="text-align:center;">Day </br> <input style="text-align:center;" id="day" type="day" name="day" required></div>
    </br>
    
    
    <div style="text-align:center;">Hour </br>  <input style="text-align:center;" id="hour" type="hour" name="hour" required></div>
    </br>
    
 
    <div style="text-align:center;">Minute </br> <input id="minute" type="minute" name="minute" required></div>
  
    </br>
    </br>
    <div style="text-align:center;"><button id="submit" class="button" type="submit"><i class="fa fa-check"></i>&emsp; Show me businesses that are open &emsp;</button></div>
    </br>
    </form>
      </div>
      <div class="modal-footer">
       <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>

      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>
              Name
              <a href="#" onClick="return sortTable('name', 'ASC');"><i class="fa fa-chevron-down"></i></a>
              <a href="#" onClick="return sortTable('name', 'DESC');"><i class="fa fa-chevron-up"></i></a>
            </th>
            <th>Address</th>
            <th>
              Rating
              <a href="#" onClick="return sortTable('rating', 'ASC');"><i class="fa fa-chevron-down"></i></a>
              <a href="#" onClick="return sortTable('rating', 'DESC');"><i class="fa fa-chevron-up"></i></a>
            </th>
            <th>
              Review Count
              <a href="#" onClick="return sortTable('review_count', 'ASC');"><i class="fa fa-chevron-down"></i></a>
              <a href="#" onClick="return sortTable('review_count', 'DESC');"><i class="fa fa-chevron-up"></i></a>
            </th>
          </tr>
        </thead>

        <tbody id="businesses">
          <% if (businesses.length == 0) { %>
            <tr>
              <td colspan="4" class="text-center">
                There are no matching businesses.
              </td>
            </tr>
          <% } else { %>
            <% for(var i = 0; i < businesses.length; i++) { %>
              <tr>
                <td><a href="#" data-toggle="modal" data-target="#businessModal" data-business="<%= businesses[i][4] %>"><%= businesses[i][0] %></a></td>
                <td><%= businesses[i][1] %></td>
                <td><%= businesses[i][2] %></td>
                <td><%= businesses[i][3] %></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
      </br>

      <div class="modal fade" id="businessModal" tabindex="-1" role="dialog" aria-labelledby="businessModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button href="#" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="businessModalLabel">Business</h4>
            </div>
            <div class="modal-body">
              <div class="clearfix">
                <div class="pull-left">
                  <p><strong>Address:</strong> <span id="businessAddress">330 Centennial Pkwy</span>, <span id="businessCity">North Las Vegas</span>, <span id="businessState">NV</span> <span id="businessPostalCode">890303</span></p>
                  <p>
                    <strong>Rating:</strong>
                    <span id="businessRating0"><i class="fa fa-star"></i></span>
                    <span id="businessRating1"><i class="fa fa-star"></i></span>
                    <span id="businessRating2"><i class="fa fa-star"></i></span>
                    <span id="businessRating3"><i class="fa fa-star-half-o"></i></span>
                    <span id="businessRating4"><i class="fa fa-star-o"></i></span>
                    (<span id="businessReviewCount">3</span> reviews)
                  </p>
                </div>
                <div class="pull-right">
                  <strong id="businessVegetarian" data-toggle="tooltip" data-placement="top" title="This business is vegetarian">V</strong>
                  <strong id="businessVegan" data-toggle="tooltip" data-placement="top" title="This business is vegan">V+</strong>
                  <strong id="businessKosher" data-toggle="tooltip" data-placement="top" title="This business is kosher">K</strong>
                </div>
              </div>
              <p>
                <strong>Open Hours:</strong>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Day</th>
                      <th>Hours</th>
                    </tr>
                  </thead>
                  <tbody id="businessHours">
                    <tr>
                      <td>Monday</td>
                      <td>10:00am - 8:00pm</td>
                    </tr>
                  </tbody>
                </table>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
      $('#businessModal').on('show.bs.modal', function (event) {
        var lnk = $(event.relatedTarget);
        var businessId = lnk.data('business');
        $.ajax('/businesses/id/' + businessId).done(function(data) {
          $('#businessModalLabel').text(data['businessName']);
          $('#businessAddress').text(data['businessAddress']);
          $('#businessCity').text(data['businessCity']);
          $('#businessState').text(data['businessState']);
          $('#businessPostalCode').text(data['businessPostalCode']);
          var businessRatings = data['businessRatings'];
          for (var i = 0; i < businessRatings.length; i++) {
            $('#businessRating' + i).html('<i class="fa ' + businessRatings[i] + '"></i>');
          }
          $('#businessReviewCount').text(data['businessReviewCount']);
          data['businessVegetarian'] == 'TRUE' ? $('#businessVegetarian').show() : $('#businessVegetarian').hide()
          data['businessVegan'] == 'TRUE' ? $('#businessVegan').show() : $('#businessVegan').hide();
          data['businessKosher'] == 'TRUE' ? $('#businessKosher').show() : $('#businessKosher').hide();
          var businessHours = data['businessHours'];
          var text = '';
          for (var i = 0; i < businessHours.length; i++) {
            var hours = businessHours[i];
            text += '<tr><td>' + (i > 0 && businessHours[i-1]['day'] == hours['day']? '' : hours['day']) + '</td><td>' + hours['openTime'] + ' - ' + hours['closeTime'] + '</td></tr>';
          }
          $('#businessHours').html(text);
        });
      });

      function sortTable(col, order) {
        $.ajax('/businesses/city/<%= city %>/<%= businessType %>/sort/' + col + '/' + order).done(function(data) {
          businesses = data['businesses'];
          var text = '';
          if (businesses.length == 0) {
            text += "<tr><td class='text-center' colspan='4'>There are no matching businesses.<\/td><\/tr>";
          } else {
            for (var i = 0; i < businesses.length; i++) {
              text += '<tr><td><a href="#" data-toggle="modal" data-target="#businessModal" data-business="' + businesses[i][4] + '">' + businesses[i][0] + '</a><\/td><td>' + businesses[i][1] + '<\/td><td>' + businesses[i][2] + '<\/td><td>' + businesses[i][3] + '<\/td><\/tr>';
            }
          }
          $('#businesses').html(text);
        });
        return false;
      }

      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }

      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
          var navbar = document.getElementById("myNavbar");
          if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
              navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
          } else {
              navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
          }
      }

      // Used to toggle the menu on small screens when clicking on the menu button
      function toggleFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace(" w3-show", "");
          }
      }
    </script>
  </body>
</html>
