<!--  -->

<!doctype html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

input, button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.button {
    color:gray;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: gray;
    color: white;
}
</style>

<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

 <link rel="stylesheet" type="text/css" href="/css/signin.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"> -->
<html lang="en">

<head>
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="<%= '/welcome/'+id+'/'+userName %>" class="w3-bar-item w3-button"><i class="fa fa-user-o"></i> HOME </a>
    <a href="/contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="/logout" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i> LOG OUT</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="/contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    <a href="/logout" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGOUT</a>
  </div>
</div>

 

</head>

    <!-- Bootstrap core CSS -->
<!--     <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
 -->
    <!-- Custom styles for this template -->
<!--     <link href="signin.css" rel="stylesheet">
 -->  
</br>
</br>
</br>
</br>
  <body>
    <div class="container">
      
        <h2 style="text-align:center" class="form-signin-heading">Welcome <%= personName %>!
        </br>

  <h2 style="text-align:center" class="form-signin-heading">Choose one of the two options
  </br>
      <a style="font-size:70%" href="<%= '/feed/'+id+'/'+userName%>" class="w3-bar-item w3-button"><i class="fa fa-map-pin"></i> I Have an Itinerary &emsp;</a>

      <a style="font-size:70%" href="<%= '/suggestions/'+id+'/'+userName%>" class="w3-bar-item w3-button"><i class="fa fa-paper-plane"></i> I'm Feeling Adventurous &emsp;</a>
      </h2>
        </h2>
  

    </div> <!-- /container -->
    <!-- /start -->


</br>


    <!-- /end -->
  </body>

  
  <script>
  // I should make a new page instead




// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

  </script>
</html>






